@import '../../settings.scss';

.tiledGallery {
    height: 500px;
    width: 500px;
    background-image: url('./assets/images/profile_square.jpg');
    background-size: contain;

    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
}

.galleryImg {
    width: 500px;
}

.a {
    text-decoration: none;
    color: transparent;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: transparent;
}

.tile:hover, .tile:hover .a {
    font-family: 'Inconsolata';
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #B22F5B;
}

.parent {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.copiedMsg{
    position:absolute;
    color: white;
    background-color: $copiedColor;
    padding: 10px 20px;
}

.copiedMsg::after{
    position: absolute;
    content: '';
    width: 0; 
    height: 0; 
    bottom: -30%;
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
    border-top: 20px solid $copiedColor;
}