.tiledGallery {
    height: 500px;
    width: 500px;
    background-image: url('./assets/images/profile_square.jpg');
    background-size: contain;

    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
}

.galleryImg {
    width: 500px;
}

.a {
    text-decoration: none;
    color: transparent;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: transparent;
}

.tile:hover, .tile:hover .a {
    font-family: 'Inconsolata';
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #B22F5B;
}

.parent {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}