@font-face {
    font-family: 'Rock 3D';
    src: url('./assets/fonts/rock3d.ttf');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('./assets/fonts/Inconsolata.ttf');
}

$copiedColor: rgba(7, 148, 7, 0.776)